body{
    justify-content: center;
    display: flex;
}
#continer{
    height: 300px;
    width: 500px;
    position: relative;
    background-color: rgb(169, 231, 185);
    justify-content: center;
    
}
#heading1 {
    font-size: 50px;
    text-align: center;
    background-color: red;  
    color: white;
    margin-top: 0px;
}
#heading2{
    font-size: 20px;
    text-align: center;
}
#three{
    display: inline-block;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 40px;
}
#input_text{
    width: 200px;
    height: 20px;
    border-radius: 2px;
    padding-right: 20px;
    margin-right: 20px;
    border-radius: 6px;
}
#check{
    border-radius: 6px;
    width: 100px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    background-color: yellowgreen;
}
#check:hover{
    background-color: LightSalmon;
}
